.git
.github
.vs
.vscode
**/bin
**/obj
**/TestResults
tests
**/*.db
**/*.db-shm
**/*.db-wal
**/App_Data
**/*.log
**/*.mp3
**/*.wav
**/*.webm
.env
.env.*
!.env.example
appsettings.Local.json
src/TrainingManagement.Web/appsettings.Development.json
src/TrainingManagement.Web/appsettings.Testing.json
docs
README.md
